.bg_blue {
  background-color: #100b70 !important;
}
.bg_blue_light {
  background-color: #04dffc !important;
}
.border_bottom {
  border-right: 3px solid #fc8b05 !important;
}
.text_orange {
  color: #fc8b05 !important;
}
